@use 'sass:math';
@import '../../styles/settings.scss';

.name {
	margin: $base-size 0;
	font-size: $base-size * 3;
}

.price {
	font-size: $base-size * 1.5;
}

.button {
	position: absolute;
	top: -$base-size * 2;
	right: -$base-size * 2;
	font-size: $base-size * 2;
	width: $base-size * 5;
	height: $base-size * 5;
}
